sidebar#sidebar-nav
  ul#dashboard-menu
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-tachometer"></i><span>Дашбоард</span>'), "active", dashboard_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-book"></i><span>Заявки</span>'), "active", leads_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-users"></i><span>Наймодатели</span>'), "active", landlords_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-users"></i><span>Наниматели</span>'), "active", tenants_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-building-o"></i><span>Объекты</span>'), "active", apartments_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-archive"></i><span>Сделки</span>'), "active", deals_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-users"></i><span>Пользователи</span>'), "active", users_path

