- content_for :title, "Редактирование заявки #{@lead.id}"
- content_for :page_title, "Редактирование заявки #{@lead.id}"

== render 'form'

= link_to 'Посмотреть', @lead
'|
= link_to 'Назад', leads_path

