- content_for :title, "Заявка #{@lead.id}"
- content_for :page_title, "Заявка #{@lead.id}"

p#notice = notice
p 
  b = @lead.name
p
  |М. 
  = @lead.mobile

= link_to 'Редактировать', edit_lead_path(@lead)
'|
= link_to 'Назад', leads_path
