- content_for :title, "Редактирование сделки #{@deal.id}"
- content_for :page_title, "Редактирование сделки #{@deal.id}"

== render 'form'

= link_to 'Посмотреть', @deal
'|
= link_to 'Назад', deals_path

