- content_for :title, "Сделка #{@apartment.id}"
- content_for :page_title, "Сделка #{@apartment.id}"
p#notice = notice


= link_to 'Редактировать', edit_deal_path(@deal)
'|
= link_to 'Назад', deals_path
